body{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Times New Roman", Times, serif;
}

/*body {*/
/*    background-color: #f1f1f1;*/
/*    padding: 20px;*/
/*    font-family: Arial;*/
/*}*/

/* Center website */
.main {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

/*.row {*/
/*    margin: 8px -16px;*/
/*}*/

.row{
    width: 100%;
}


/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 24%;
    height: 70vh;
    margin: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    /*display: none;*/
}

.column:hover {
    border: 1px solid #777;
    border-radius: 6px;
    /*background-color: #D1D1D1;*/
}

.imgProdotto{
    width: 100%;
    margin-top: -16px;
    height: 40vh;
}

.descrizione {
    padding: 0px 15px;
    text-align: center;
    margin-top: -20px;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    overflow: scroll;
    scrollbar-width: none; /* solo Firefox */
}

.content::-webkit-scrollbar {
    display: none;
}

.show {
    display: block;
}

.btnProdotto {
    cursor: pointer;
    text-align: center;
}

#AggiungiCarrello, #AggiungiPreferiti{
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    margin: 5px 8% 15px;
}

.prezzo{
    padding-bottom: 5px;
    color: #C29436;
}

.name{
    font-weight: bold;
}

#modifica, #rimuovi{
    background-color: #f7f7f7;
    border: 0.5px solid black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: black;
    padding: 5px;
    margin-top: -35px;
}

@media screen and (max-width: 1300px) {
    .column {
        width: 31.5%;
        height: 65vh;
    }

    .imgProdotto{
        height: 33vh;
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 48%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .column {
        width: 95%;
        height: 65vh;
    }

    .imgProdotto{
        height: 40vh;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .column {
        width: 110%;
        height: fit-content;
        margin-left:-15px;
    }

}