@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
    background-color: #f7f7f7;

}

.parent{
    background-color: #C29436;
    width: 60%;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
    border-radius: 10px;
    margin: 20vh 20vw;
    color: black;
    position: absolute;
    top: 0;
    box-shadow: 20px 20px 25px #d1d1d1;
    font-family: sans-serif;
}

#home{
    border: none;
    background-color: #C29436;
    margin-left: 10vw;
}

input[type=text]{
    background-color: white;
    padding: 6px;
    width: 200px;
    align-items: center;
    border: 0.5px solid black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

input[type=submit]{
    background-color: #f7f7f7;
    text-align: center;
    padding: 5px 10px;
    font-size: 15px;
    border: 0.5px solid black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

p.titolo{
    text-align: center;
    font-family: "Shadows Into Light", cursive, sans-serif;
    font-size: 35px;
}


hr{
    color: black;
    background-color: black;
    border: 0;
    height: 1px;
    width: 50%;
    text-align: center;
}

div{
    margin-left: 25%;
}


#indirizzo{
    display: none;
}

#numeroCarta{
    display: none;
}

.dom{
    display: inline;
}

/*iPad, tablet*/
@media screen and (max-width: 1010px){
    .parent {
        width: 70%;
    }
}

/*mobile device*/
@media screen and (max-width: 580px) /*and (min-width: 320px)*/{
    .parent {
        width: 96%;
        padding: 0px;
        border-collapse: collapse;
        margin-left: 2px;
    }

}

