@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.title{
    font-family: 'Shadows Into Light', cursive, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 10vh;
}

body{
    background-color: #f7f7f7;
    font-family: "Times New Roman", Times, serif;
}

details{
    background-color: #C29436;
    border: 1px solid;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 15px;
}

details th{
    color: white;
}

#home{
    border: none;
    background-color: #f7f7f7;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    margin-top: 15px;
    font-size: 17px;
}

th, td {
    text-align: center;
    padding: 8px;
}

input{
    background-color: #f7f7f7;
    border: 0.5px solid black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: black;
    padding: 5px;
}
