table{
    border-collapse: collapse;
    width: 100%;
}

td{
    text-align: right;
}

/*.navbarUP{*/

/*    background-color: black;*/
/*    width: 100%;*/
/*    position: sticky;*/
/*    margin-left: 0px;*/
/*    margin-right: 0px;*/
/*    padding: 0;*/
/*    overflow: hidden;*/
/*    border-collapse: collapse;*/
/*}*/

/*.navbarDOWN{*/
/*    background-color: black;*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    margin-left: 0px;*/
/*    margin-right: 0px;*/
/*    padding: 0;*/
/*}*/

.navbar{
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#up ::before{
    position: -webkit-sticky;   /*solo per safari*/
    position: sticky;
    top:0;
}

#down ::after{
    position: fixed;
    width: 100%;
}

/*a img{*/
/*    float: left;*/
/*    padding-left: 40px;*/
/*    padding-right: 40px;*/
/*
}*/

a img:hover{
    filter: grayscale(100%);
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropup {
    position: relative;
    display: inline-block;
}

.dropup-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    bottom: 50px;
    z-index: 1;
}

.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropup-content a:hover {background-color: #ccc}

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover .dropbtn {
    background-color: black;
}

.dropup:hover .dropbtn img{
    filter: grayscale(100%);
}