@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.home{
    overflow: hidden;
}

table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.navbarTot{
    top: 0;
    background-color: white;
    width: 100%;
    position: fixed;
}

header{
    height: 60px;
}

#logo{
    float:left;
    padding-right: 40px;
}

#social{
    float:right;
    padding: 5px 10px 5px 10px;
}

td h2{
    font-family: 'Shadows Into Light', cursive, sans-serif;
    font-size: 30px;
    text-align: center;
}

.navbarUp{
    background-color: black;
    width: 100%;
    position: fixed;
    margin-left: -15px;
    margin-right: -15px;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100px;
    padding: 5px 35px 5px 10px;
    text-align: center;
}

.navbarUp td{
    text-align: center;
}

.navbarUp td button img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbarUp span{
    color: #C29436;
    font-size: 20px;
    display: block;
    font-family: 'Shadows Into Light', cursive, sans-serif;
}

.navbarDown{
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
    margin: 0px -15px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 5px 35px 5px 10px;
    height: 80px;
}

.navbarDown td {
    width: 30%;
    height: 80px;
    text-align: center;
    margin: 0px;
}

.search{
    min-width: 180px;
}

#search-button{
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
}

#search-button img{
    padding-top: 20px;
}

.search input[type=text]{
    padding: 6px;
    font-size: 17px;
    border: 2px solid black;
    width: 170px;
    border-radius: 6px;
    border-collapse: collapse;
    margin: -50px auto auto auto;
}

.search::after {
    clear: both;
}

.search input[type=text]:focus {
    width: 70%;
    outline: none;
}

.btnUP{
    border: none;
    background-color: black;
}

.btnUP img:hover{
    filter: grayscale(100%);
}

a{
    text-decoration: none;
    border: none;
    color: white;
}

a img:hover, .notification img:hover{
    filter: grayscale(100%);
}

.dropbtn {
    background-color: black;
    color: white;
    border: none;
    text-decoration: none;
}

.dropup {
    display: inline-block;
    position: relative;
}

.dropup-content {
    display: none;
    position: fixed;
    background-color: #f7f7f7;
    min-width: 160px;
    bottom: 50px;
    z-index: 2;
    padding: 0px;
}

.dropup-content input[type=submit] {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background-color: #f7f7f7;
    margin: 0px;
    border-collapse: collapse;
    width: 100%;
}

.dropup-content input[type=submit]:hover {
    background-color: #ccc
}

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover .dropbtn {
    background-color: black;
}

.dropup:hover .dropbtn img{
    filter: grayscale(100%);
}

#logout{
    margin-bottom: -12px;
}

.badge{
    z-index: 1;
    border: 0.5px solid black;
    font-size: 13px;
}

.notification {
    background-color: black;
    color: black;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    margin-right: 5px;
    border: 0px;
    margin-top: 15px;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -13px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #ff3333;
    color: black;
}

a{
    text-decoration: none;
}

.content{
    padding-top: 170px;
    padding-bottom: 90px;
}

.log {
    margin-top: 10px;
}
