@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
    background-color: #f7f7f7;
}

.parent {
    background-color: #C29436;
    height: 50%;
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 30vh auto;
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: 20px 20px 25px #d1d1d1;
}

p.titolo{
    text-align: center;
    font-family: "Shadows Into Light", cursive, sans-serif;
    font-size: 35px;
    padding-top: 60px;
}

.parent .child {
    color: black;
    padding: 5px;
    padding-top: 30px;
}

label{
    font-size: 20px;
}

p{
    margin-top: 20px;
    font-family: "Shadows Into Light", cursive, sans-serif;
    font-size: 30px;
    width: 100%;
}

input[type=email], input[type=submit], .visible{
    border: 0.5px solid black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

}

input[type=email], .visible{
    background-color: white;
    padding: 6px;
    width: 200px;
    display: flex;
    align-items: center;
}

input[type=submit]#accedi{
    background-color: #f7f7f7;
    text-align: center;
    padding: 5px 10px;
    font-size: 15px;
}

input[type=submit]#registrati{
    color: #f7f7f7;
    border: 0px;
    background-color: #C29436;
    font-size: 15px;
    position: relative;
    margin-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

input[type="checkbox"] {
    appearance: none;
}

input[type=submit]#registrati:hover{
    text-decoration-line: underline;
    background-color: #C29436;
}

input[type=submit]#registrati:active{
    color: black;
    background-color: #C29436;
}

.btn{
    border: none;
    background-color: white;

}

.occhio{
    z-index: 0;
    position: absolute;
    margin: -10px 0px auto -15px;
    padding-left: 10px;
}

.linea{
    margin: -10px 0px auto -15px;
    z-index: 1;
    position: absolute;
    padding-left: 10px;
}

input[type=password], .active{
    border: 0px solid white;
    padding: 0px;
    margin: 0px;
    width: 180px;
}

input:focus {
    outline: none;
}

#home{
    border: none;
    background-color: #C29436;
    margin-right: 5px;
}

.error{
    color: #691911;
    background-color: #f4d6d2;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
}


/*iPad, tablet*/
@media screen and (max-width: 1010px){
    .parent {
        height: 40%;
        width: 60%;
    }

    p{
        font-size: 30px;
    }
}

/*mobile device*/
@media screen and (max-width: 580px) /*and (min-width: 320px)*/{
    .parent {
        height: 40%;
        width: 100%;
        padding: 0px;
        border-collapse: collapse;
    }

    label{
        font-size: 15px;
    }

    p{
        font-size: 30px;
    }
}
