@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
    background-color: #f7f7f7;
}

.parent {
    background-color: #C29436;
    height: 40%;
    width: 50%;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    margin: 30vh auto;
    padding: 0;
    position: relative;

}

.parent .child {
    color: black;
    padding: 5px;
    position: absolute;
    top: 0;
    transform: translateX(50%);
}

.child1{
    padding-top: 20px;
}

label{
    font-size: 20px;
}

input[type=text], input[type=email], input[type=password]{
    padding: 6px;
    width: 150px;
}

p.titolo{
    text-align: center;
}

p{
    margin-top: 20px;
    font-family: "Shadows Into Light", cursive, sans-serif;
    font-size: 30px;
    width: 100%;
}

hr{
    color: black;
    background-color: black;
    border: 0;
    height: 1px;
    width: 50%;
    text-align: center;
}


input {
    border: 0.5px solid black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

}

input[type=submit]#accedi{
    background-color: #f7f7f7;
    text-align: center;
    padding: 5px 10px;
    font-size: 15px;
    margin-top: 5px;
}

input[type=submit]#registrati{
    color: #f7f7f7;
    border: 0px;
    background-color: #C29436;
    font-size: 15px;
    position: relative;
    margin-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

input[type=submit]#registrati:hover{
    text-decoration-line: underline;
    background-color: #C29436;
}

input[type=submit]#registrati:active{
    color: black;
    background-color: #C29436;
}

p.testo{
    margin-top: 250px;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}

table{
    width: 100%;
}

/*small screen, laptop, tv*/
@media screen and (min-width: 1001px){

}


/*iPad, tablet*/
@media screen and (max-width: 1000px){
    .parent {
        height: 40%;
        width: 70%;
        margin: 30vh auto;
    }

    .parent .child{
        transform: translateX(20%);
    }

    p{
        font-size: 30px;
    }
}

/*mobile device*/
@media screen and (max-width: 680px) /*and (min-width: 320px)*/{
    .parent {
        height: 40%;
        width: 100%;
        padding: 0px;
        border-collapse: collapse;
        margin: 30vh auto;
    }

    .parent .child{
        transform: translateX(0%);
    }

    label{
        font-size: 15px;
    }

    p{
        font-size: 30px;
    }
}