@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.contentForm{
    background-color: #C29436;
    display: flex;
    margin: 25vh auto;
    border: 0px solid black;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 0% 5%;
    box-shadow: 20px 20px 25px #d1d1d1;
}

hr{
    color: black;
    background-color: black;
    border: 0;
    height: 1px;
    width: 50%;
    text-align: center;
}

.titolo{
    font-family: "Shadows Into Light", cursive, sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 10% 5%;
}

table{
    margin: 10% 0%;
}


input[type=text], input[type=number], input[type=submit], select{
    border: 0.5px solid black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: white;
    padding: 6px;
    display: flex;
    align-items: center;
}

input[type=submit]{
    background-color: #f7f7f7;
    text-align: center;
    padding: 5px 10px;
    font-size: 15px;
}

input:focus {
    outline: none;
}

#imgProdotto{
    width: 100px;
    border: 0.5px solid black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#home{
    border: none;
    background-color: #C29436;
    margin-right: 0px;
    margin-left: 20%;
    margin-top: 45px;
}


@media screen and (max-width: 570px){

    input[type=text], input[type=number]{
        width: 100px;
        margin-right: -25px;
    }

}

@media screen and (max-width: 400px){
    input[type=file]{
        color: transparent;
        width: 70px;
    }

    input[type=text], input[type=number]{
        margin-left: -10px;
    }

    input[type=number], select{
        margin-left: 5px;
    }
}