@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
    background-color: #f7f7f7;
}

.parent {
    background-color: #C29436;
    width: 60%;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20vh 20vw;
    color: black;
    position: absolute;
    top: 0;
    /*padding: 0% 0% 0% 5%;*/
}


.child {

}

.child1{
    padding-top: 20px;
}

label{
    font-size: 20px;
    padding: 10px;
}


p.titolo{
    text-align: center;
}

p{
    margin-top: 20px;
    font-family: "Shadows Into Light", cursive, sans-serif;
    font-size: 30px;
    width: 100%;
}

hr{
    color: black;
    background-color: black;
    border: 0;
    height: 1px;
    width: 50%;
    text-align: center;
}


#nome, #cognome, #email, .visible{
    border: 0.5px solid black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: white;
    padding: 6px;
    width: 200px;
}

input[type=submit]#registrati{
    border: 0.5px solid black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

}

.btn{
    border: none;
    background-color: white;
}

.occhio{
    z-index: 0;
    position: absolute;
    margin: -15px 0px auto -5px;
    padding-left: 10px;
}

.linea{
    margin: -15px 0px auto -5px;
    z-index: 1;
    position: absolute;
    padding-left: 10px;
}

input[type=password], .active{
    border: 0px solid white;
    padding: 0px;
    margin: 0px;
    width: 170px;
}

.visible{
    margin-top: 25px;
    padding-right: 25px;
}

input[type=submit]#registrati{
    background-color: #f7f7f7;
    text-align: center;
    padding: 5px 10px;
    font-size: 15px;
    margin-top: 25px;
}

input[type=submit]#accedi{
    color: #f7f7f7;
    border: 0px;
    background-color: #C29436;
    font-size: 15px;
    position: relative;
    margin-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

input[type=submit]#accedi:hover{
    text-decoration-line: underline;
    background-color: #C29436;
}

input[type=submit]#accedi:active{
    color: black;
    background-color: #C29436;
}

p.testo{
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: -50px;
}

table{
    margin: 4% 15%;
}

label{
    margin-bottom: 5px;
}

input[type="checkbox"] {
    appearance: none;
}

input:focus {
    outline: none;
}

.tPsw{
    line-height: 35px;
}

/*#message {*/
/*    display:none;*/
/*    background: #f1f1f1;*/
/*    color: #000;*/
/*    position: relative;*/
/*    padding: 20px;*/
/*    margin-top: 10px;*/
/*}*/

/*#message p {*/
/*    padding: 10px 35px;*/
/*    font-size: 18px;*/
/*}*/

/*!* Add a green text color and a checkmark when the requirements are right *!*/
/*.valid {*/
/*    color: green;*/
/*}*/

/*.valid:before {*/
/*    position: relative;*/
/*    left: -35px;*/
/*    content: "✔";*/
/*}*/

/*!* Add a red text color and an "x" when the requirements are wrong *!*/
/*.invalid {*/
/*    color: red;*/
/*}*/

/*.invalid:before {*/
/*    position: relative;*/
/*    left: -35px;*/
/*    content: "✖";*/
/*}*/



/*nuovo css*/

ul, li {
    margin:0;
    padding:0;
    list-style-type:none;
}

#pswd_info {
    position:absolute;
    right:55px;
    width:250px;
    padding:15px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
    margin-top: -25px;
    z-index: 100;
}

#pswd_info h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
}

#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}

.invalid {
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}
.valid {
    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
}

#pswd_info {
    display:none;
}


/*modile device*/
@media screen and (max-width: 1100px){
    .parent {
        width: 96%;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }

    table{
        margin-left: 15%;
    }
}

@media screen and (max-width: 670px){

    .parent{
        margin: 20% 0%;
    }

    table{
        margin: auto 0%;
    }

    #cognome, #nome, #email, .visible{
        width: 130px;
    }

    input[type=password], .active{
        width: 100px;
    }

    p.testo{
        margin-top: 0px;
    }
}
