@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
    background-color: #f7f7f7;
}

.title{
    text-align: center;
    font-family: "Shadows Into Light", cursive, sans-serif;
    font-size: 35px;
    padding-top: 60px;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-left: 25%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #f2f2f2
}

th {
    background-color: #C29436;
    color: white;
}

#home{
    border: none;
    background-color: #f7f7f7;
}